.photoSearcherContainer {
    margin: 0 auto;
    padding: 20px;
}

.photoSearcherContainer h2 {
    margin-bottom: 20px;
    text-align: center;
}

.searchContainer input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.searchContainer label {
    margin-left: 20px;
}

/* .switchViewButtons h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.switchViewButtons {
    margin-bottom: 20px;
}

.switchViewButtons button {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 15px;
}


.switchViewButtons button:hover {
    background-color: #fff;
    color: #0693e3;
}
