/* styles.module.css */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.albumWrapper {
    border: 1px solid #ddd3;
    flex-basis: calc(15% - 10px);
    padding: 10px;
    max-width: 300px;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.027);
    text-align: center;
    transition: 0.2s;
}

.albumWrapper:hover {
    background-color: #ddd1;
}

.albumDetails {
    margin-top: 10px;
}

.editForm {
    margin-top: 10px;
}

.albumDetails label {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.albumDetails span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.editForm input {
    margin-right: 10px;
}

.editForm button {
    cursor: pointer;
}

.addButton {
    margin-top: 20px;
    max-width: 30%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.addButton label {
    margin-right: 10px;
}

.addButton input {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    justify-content: center;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    resize: none;
    background-color: #ddd1;
    width: 100%;
    height: 2rem;
    text-align: center;
}

.addButton input:hover {
    background-color: #ddd2;
}

.addButton button {
    cursor: pointer;
}
