
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchHeader {
    margin-bottom: 20px;
    text-align: center;
}

.userList {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #fffa;
    margin-top: 25px;
    border-radius: 5px;
    padding: 50px;
}

.userItem {
    list-style: none;
    flex-grow: 2;
    margin-top: 15px;
    background-color: #fff1;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.userItem:hover {
    background-color: hsl(181, 100%, 10%);
}

.searchInput{
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #fff1;
    justify-content: center;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    resize: none;
    padding: 15px;
    text-align: center;
}