.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 0 1rem;
    background-color: #fff0;
    transition: background-color 0.2s;
}

.wrapper .btnSegment {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper button {
    border: 1px solid white;
}

/* Styl dla linku Strona główna */
.wrapper .homeLink {
    margin-right: auto; /* Zapewnia, że wszystko po prawej stronie przesunie się do końca */
    background-color: transparent;
    font-size: 2rem;
}

.wrapper .homeLink:hover{
    background-color: transparent;
}


/* Styl dla linków dodatkowych (dzieci) */
.wrapper .children {
    margin-left: auto; /* Zapewnia, że linki zaczynają się od prawej strony */
    display: flex;
}

/* Styl dla przycisku Wyloguj */
.wrapper .btnSegment .btn {
    margin-left: 10px; /* Odstęp między dodatkowymi linkami a przyciskiem Wyloguj */
}

/* Pozostałe style */
.wrapper a,
.wrapper .btnSegment .aBtn,
.wrapper .btnSegment .btn {
    text-decoration: none;
    background-color: #fff1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 25px;
    font-size: 16px;
}

.wrapper a:hover,
.wrapper .btnSegment .aBtn:hover,
.wrapper .btnSegment .btn:hover {
    background-color: #fff4;
}
