/* styles.module.css */
.container {
    padding: 10px;
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.postHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.postBody {
    margin-bottom: 10px;
}

.button {
    margin-right: 5px;
}

.inputField {
    margin-bottom: 10px;
    padding: 5px;
}

.editMode {
    background-color: #f3f3f3;
}

.label {
    display: block;
    margin-bottom: 5px;
}
.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.addButton input, .addButton button {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.addButton button {
    cursor: pointer;
}