.photoGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


@container chuj (min-width: 20px) {
    .photoGallery {
        background-color: red;
    }
}

.photoContainer {
    border: 1px solid #ddd3;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.027);
    text-align: center;
    flex-basis: calc(15% - 10px);
    transition: 0.2s;
}

.photoContainer:hover {
    background-color: #ddd1;
}

.photoDetails {
    margin-top: 10px;
}

.photoImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.editForm {
    margin-bottom: 10px;
}

.editForm input,
.editForm button {
    margin-right: 10px;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.addButton input,
.addButton button {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.addButton button {
    cursor: pointer;
}
