.photoGallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.photoContainer {
    border: 1px solid #ddd3;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.027);
    text-align: center;
    flex-basis: calc(15% - 10px);
    transition: 0.2s;
}

.photoContainer:hover {
    background-color: #ddd1;
}

.photoDetails {
    margin-top: 10px;
}

.photoImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.addButtonForm {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.editForm {
    margin-bottom: 10px;
}

.editForm input,
.editForm button {
    margin-right: 10px;
}

.addButton {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    position: relative;
}

.addButton label {
    margin-right: 10px;
}

.addButton input {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    justify-content: center;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    resize: none;
    background-color: #ddd1;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s;
}

.addButton input:hover {
    background-color: #ddd2;
}

.addButton button {
    cursor: pointer;
}
