:root {
    --primary-background-hsl: 0, 0%, 6%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(var(--primary-background-hsl));
    color: white;
}

h1 {
    margin-bottom: 25px;
}

.todoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.newTodoInput {
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    justify-content: center;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.newTodoContainer {
    width: 800px;
    box-sizing: border-box;
    height: 75px;
    padding: 15px;
    background-color: #ddd1;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
}

.newTodoContainer:hover {
    background-color: #ddd2;
}

.newTodoButton {
    margin-left: auto;
    margin-right: 10px;
    padding-left: 25px;
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.newTodoButton:hover {
    color: greenyellow;
}

.scroll-wrapper {
    background-color: hsl(181, 100%, 10%);
    border-bottom: 1px solid white;
}

header {
    position: sticky;
    border-bottom: 1px solid transparent;
    top: 0px;
    transition: 0.2s;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
