.home-page {
    background: rgb(82,82,82);
    background: linear-gradient(90deg, rgba(82,82,82,1) 0%, rgba(195,188,188,1) 50%, rgba(82,82,82,1) 100%);
}
.userPage {
    margin: 0 auto;
    padding: 20px;
}

.userInfo {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.userInfo div {
    margin-bottom: 10px;
}

.editForm {
    background-color: #e9ecef;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .editForm {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 800px;
} */

/* .editForm input[type="text"],
.editForm input[type="email"],
.editForm input[type="username"],
.editForm input[type="name"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
} */
.editForm input[type="text"],
.editForm input[type="email"],
.editForm input[type="username"],
.editForm input[type="name"] {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    justify-content: center;
    text-align: center;
}

.editForm label {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
/* .editForm label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
} */

.editForm button {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 15px;
}

/* .editForm button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.editForm button:hover {
    background-color: #fff;
    color: #0693e3;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editForm h3 {
    margin-bottom: 20px;
}

.viewSwitch {
    margin-bottom: 20px;
}

.viewSwitch button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.viewSwitch button.active {
    background-color: #007bff;
}

.viewSwitch button:hover {
    background-color: #0056b3;
}
